$primary-color: #9b4dff;
$secondary-color: #bdb1c3;
$dark-bg: #1e1b2e;
$panel-bg: #2d1f46;
$player-bg: #3b1f57;
$text-color: #ffe9e9;
$secondary-text: #c9b6e6;
$border-color: #4a2d6b;
$progress-bg: #4a2d6b;
